@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

/* Card Styling */
.card {
    border-radius: 12px;
    padding: 20px;
    border: none;
}

.card-body {
    padding: 30px;
}

/* Input Group Styling */
.input-group-text {
    background: #f8f9fa;
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}

/* Button Styling */
.btn-primary {
    font-weight: 600;
}
