body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #2c2c2c;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

dotlottie-wc {
    width: 1000px;
    margin-bottom: -30px;
    margin-bottom: 1rem;
    margin-right: 11rem;
}

h1 {
    font-size: 2rem;
    margin: 0.2em 0;
}

p {
    font-size: 1.1rem;
    color: #555;
    max-width: 600px;
}